# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
.venv/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Environment variables
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# PostgreSQL
*.dump


structure.txt
docs


# Test and lint reports
.coverage
coverage.xml
htmlcov/
.pytest_cache/
.ruff_cache/db.pythonanywhere.sqlite3
