{% extends 'base.html' %}

{% load static %}


{% block title %}
Profile
{% endblock %}



{% block extra_css %}

<link rel="stylesheet" href="{% static 'css/profile.css' %}">

{% endblock %}





{% block content %}



<div class="profile-container">



    <div class="profile-card">



        <div class="profile-avatar">

            <i class="bi bi-person-circle"></i>

        </div>




        <h2>
            {{ user.username }}
        </h2>



        <p class="profile-role">

            {{ user.role }}

        </p>





        <div class="profile-info">



            <div class="info-item">

                <span>
                    Email
                </span>

                <strong>
                    {{ user.email|default:"-" }}
                </strong>

            </div>





            <div class="info-item">

                <span>
                    Date Joined
                </span>


                <strong>
                    {{ user.date_joined|date:"Y-m-d" }}
                </strong>


            </div>






            {% if user.airline %}



            <div class="info-item">

                <span>
                    Airline
                </span>


                <strong>
                    {{ user.airline.name }}
                </strong>


            </div>




            {% endif %}



        </div>




    </div>




</div>



{% endblock %}