{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta
        name="viewport"
        content="width=device-width, initial-scale=1.0"
    >

    <title>
        {% block title %}
            Airport Management System
        {% endblock %}
    </title>

    <link
        rel="stylesheet"
        href="{% static 'css/style.css' %}"
    >

    {% block extra_css %}
    {% endblock %}

</head>

<body>

{% include 'components/navbar.html' %}


<div class="layout">

    {% include 'components/sidebar.html' %}


    <section class="content">

        {% if messages %}

            <div class="system-messages">

                {% for message in messages %}

                    <div
                        class="system-message system-message-{{ message.tags|default:'info' }}"
                        role="alert"
                    >
                        {{ message }}
                    </div>

                {% endfor %}

            </div>

        {% endif %}


        {% block content %}
        {% endblock %}

    </section>

</div>


<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script src="{% static 'js/main.js' %}"></script>

{% block extra_js %}
{% endblock %}


{% include 'components/footer.html' %}

</body>
</html>