{% extends 'base.html' %}


{% block title %}
Ground Operations
{% endblock %}



{% block content %}



<h1>
    Ground Operations
</h1>




{% if role == "ADMIN" or role == "GROUND_STAFF" %}


<a href="{% url 'ground_operation_create' %}" class="btn-primary">

    + Add Operation

</a>


{% endif %}





<table class="data-table">


<thead>

<tr>

<th>
Flight
</th>


<th>
Operation
</th>


<th>
Staff
</th>


<th>
Status
</th>


<th>
Start Time
</th>


<th>
End Time
</th>


<th>
Actions
</th>


</tr>

</thead>





<tbody>



{% for operation in operations %}



<tr>



<td>
{{ operation.flight.flight_number }}
</td>



<td>
{{ operation.operation_type.name }}
</td>



<td>
{{ operation.assigned_staff.username }}
</td>



<td>

<span class="status {{ operation.status|lower }}">

{{ operation.get_status_display }}

</span>

</td>



<td>
{{ operation.start_time|default:"-" }}
</td>



<td>
{{ operation.end_time|default:"-" }}
</td>




<td>



{% if role == "ADMIN" or role == "GROUND_STAFF" %}



<a href="{% url 'ground_operation_edit' operation.id %}">

Edit

</a>


<br><br>




{% if operation.status == "PENDING" %}



<form method="post"
action="{% url 'ground_operation_change_status' operation.id %}">


{% csrf_token %}


<input type="hidden" name="status" value="IN_PROGRESS">


<button class="btn-primary">

Start

</button>


</form>




{% elif operation.status == "IN_PROGRESS" %}




<form method="post"
action="{% url 'ground_operation_change_status' operation.id %}">


{% csrf_token %}


<input type="hidden" name="status" value="COMPLETED">


<button class="btn-primary">

Complete

</button>


</form>




{% endif %}







{% if operation.status != "COMPLETED" and operation.status != "CANCELLED" %}




<form method="post"
action="{% url 'ground_operation_change_status' operation.id %}">


{% csrf_token %}


<input type="hidden" name="status" value="CANCELLED">


<button class="btn-primary">

Cancel

</button>


</form>




{% endif %}






{% endif %}



</td>



</tr>




{% empty %}



<tr>

<td colspan="7">

No operations found

</td>

</tr>

{% endfor %}

</tbody>


</table>

{% endblock %}